<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thinvent.nj.identify.mapper.IdentifyPreviewFileMapper">
    <resultMap id="map" type="com.thinvent.nj.identify.entity.IdentifyPreviewFile">
        <id property="id" column="id"/>
    </resultMap>

    <select id="get" parameterType="String" resultMap="map">
        SELECT *
        FROM T_IDENTIFY_PREVIEW_FILE
        WHERE id = #{id}
    </select>

    <select id="findList" parameterType="map" resultMap="map">
        SELECT *
        FROM T_IDENTIFY_PREVIEW_FILE
    </select>

    <select id="getByPreviewId" parameterType="string" resultMap="map">
        SELECT *
        FROM T_IDENTIFY_PREVIEW_FILE
        WHERE PREVIEW_ID = #{previewId}
    </select>


    <insert id="insert" parameterType="com.thinvent.nj.identify.entity.IdentifyPreviewFile">
        <selectKey keyProperty="id" order="BEFORE" resultType="String">
            SELECT SYS_GUID() FROM DUAL
        </selectKey>

        INSERT INTO T_IDENTIFY_PREVIEW_FILE (
                ID,
                SPLIT_ID,
                SORT,
                TYPE,
                FILE_ID,
        CREATE_TIME,
        CREATE_USER_NAME,
        CREATE_USER
        )
        VALUES (
            #{id},
            #{splitId},
            #{sort},
            #{type},
            #{fileId},
        sysdate,
        #{createUsername},
        #{createUser}
        )

    </insert>

    <update id="update" parameterType="com.thinvent.nj.identify.entity.IdentifyPreviewFile">
        UPDATE T_IDENTIFY_PREVIEW_FILE
        SET
            ID = #{id},
            SPLIT_ID = #{splitId},
            SORT = #{sort},
            TYPE = #{type},
            FILE_ID = #{fileId}
        WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="string">
        DELETE FROM T_IDENTIFY_PREVIEW_FILE
        WHERE id = #{id}
    </delete>


    <insert id="insertFileList">
        insert into T_IDENTIFY_PREVIEW_FILE(ID, PREVIEW_ID, FILE_ID, TYPE, SORT)
        SELECT A.* FROM (
        <foreach collection="list" item="item" index="index" open="" close="" separator="UNION ALL">
            SELECT
            SYS_GUID() ID,
            #{item.previewId} CLIENT_ID,
            #{item.fileId} FILE_ID,
            #{item.type} TYPE,
            #{item.sort} SORT
            FROM DUAL
        </foreach>
        ) A
    </insert>

</mapper>