<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thinvent.nj.identify.mapper.IdentifySignMapper">
    <resultMap id="map" type="com.thinvent.nj.identify.entity.IdentifySign">
        <id property="id" column="id"/>
    </resultMap>

    <select id="get" parameterType="String" resultMap="map">
        SELECT *
        FROM T_IDENTIFY_SIGN
        WHERE id = #{id}
    </select>

    <select id="getIdentifySignByMainId" parameterType="String" resultMap="map">
        SELECT *
        FROM T_IDENTIFY_SIGN
        WHERE DELETE_FLAG = 0
        AND MAIN_ID = #{mainId}
    </select>


    <select id="findList" parameterType="map" resultMap="map">
        SELECT *
        FROM T_IDENTIFY_SIGN
    </select>

    <insert id="insert" parameterType="com.thinvent.nj.identify.entity.IdentifySign">
        <selectKey keyProperty="id" order="BEFORE" resultType="String">
            SELECT SYS_GUID() FROM DUAL
        </selectKey>

        INSERT INTO T_IDENTIFY_SIGN (
                ID,
                MAIN_ID,
                REPORT_ID,
        CREATE_TIME,
        CREATE_USER_NAME,
        CREATE_USER
        )
        VALUES (
            #{id},
            #{mainId},
            #{reportId},
        sysdate,
        #{createUsername},
        #{createUser}
        )

    </insert>

    <update id="update" parameterType="com.thinvent.nj.identify.entity.IdentifySign">
        UPDATE T_IDENTIFY_SIGN
        SET
            ID = #{id},
            MAIN_ID = #{mainId},
            REPORT_ID = #{reportId}
        WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="string">
        DELETE FROM T_IDENTIFY_SIGN
        WHERE id = #{id}
    </delete>

</mapper>