<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thinvent.nj.identify.mapper.IdentifyPreviewMapper">
    <resultMap id="map" type="com.thinvent.nj.identify.entity.IdentifyPreview">
        <id property="id" column="id"/>
        <collection property="identifyPreviewFileList" column="id" select="com.thinvent.nj.identify.mapper.IdentifyPreviewFileMapper.getByPreviewId"/>
    </resultMap>

    <select id="get" parameterType="String" resultMap="map">
        SELECT *
        FROM T_IDENTIFY_PREVIEW
        WHERE id = #{id}
    </select>



    <select id="getIdentifyPreviewByMainId" parameterType="String" resultMap="map">
        SELECT *
        FROM T_IDENTIFY_PREVIEW
        WHERE DELETE_FLAG = 0
        AND MAIN_ID = #{mainId}
    </select>




    <select id="findList" parameterType="map" resultMap="map">
        SELECT *
        FROM T_IDENTIFY_PREVIEW
    </select>

    <insert id="insert" parameterType="com.thinvent.nj.identify.entity.IdentifyPreview">
        <selectKey keyProperty="id" order="BEFORE" resultType="String">
            SELECT SYS_GUID() FROM DUAL
        </selectKey>

        INSERT INTO T_IDENTIFY_PREVIEW (
                ID,
                MAIN_ID,
                OPINION,
                IMPLEMENT_TIME,
        CREATE_TIME,
        CREATE_USER_NAME,
        CREATE_USER
        )
        VALUES (
            #{id},
            #{mainId},
            #{opinion},
            #{implementTime},
        sysdate,
        #{createUsername},
        #{createUser}
        )

    </insert>

    <update id="update" parameterType="com.thinvent.nj.identify.entity.IdentifyPreview">
        UPDATE T_IDENTIFY_PREVIEW
        SET
            ID = #{id},
            MAIN_ID = #{mainId},
            OPINION = #{opinion},
            IMPLEMENT_TIME = #{implementTime}
        WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="string">
        DELETE FROM T_IDENTIFY_PREVIEW
        WHERE id = #{id}
    </delete>

</mapper>